body {
  background-color: #242424 !important;
  color: white !important;
}

.loginCard input::placeholder {
  color: white;
}

.popover {
  color: black !important;
}

@media screen and (max-width: 500px) {
  .navHeading {
    display: none;
  }
}